@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Seeed Classic Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/seeed/css")
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../jscript/html5shiv.js"></script>
      <script src="../jscript/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.seeedstudio.com">Seeed</a>
            </div>
            <div class="navbar-collapse collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bazaar</a>
                        <div class="dropdown-menu">
                            <div class="col-lg-12">
                                <ul class="col-md-4 nav">
                                    <li><a href="#">fast food </a></li>
                                    <li><a>fast food </a></li>
                                    <li><a>fast food </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                                <ul class="col-md-4 nav">
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                                <ul class="col-md-4 nav">
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Propogate</a>
                        <div class="dropdown-menu">
                            <div class="col-lg-12">
                                <ul class="col-md-4 nav">
                                    <li><a href="#">fast food </a></li>
                                    <li><a>fast food </a></li>
                                    <li><a>fast food </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                                <ul class="col-md-4 nav">
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                                <ul class="col-md-4 nav">
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wish</a>
                        <div class="dropdown-menu">
                            <div class="col-lg-12">
                                <ul class="col-md-4 nav">
                                    <li><a href="#">fast food </a></li>
                                    <li><a>fast food </a></li>
                                    <li><a>fast food </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                                <ul class="col-md-4 nav">
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                                <ul class="col-md-4 nav">
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                    <li><a>fast food&Aacute; </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="navbar-right pull-right right-link">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#seeed-login-modal">Sign In</a>
                        </li>
                        <li>
                            <a href="#" data-target="#seeed-track-modal" data-toggle="modal">Track Order</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <aside class="col-lg-2">
                <div class="btn btn-default btn-block nav-menu" data-toggle="collapse" data-target="#categorylist">Bazaar Categories</div>
                <div class="list-group navbar-collapse collapse" id="categorylist">
                    <a href="#" class="list-group-item active">Cras justo odio</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </aside><!--侧边导航-->
            <div class="col-lg-10">
                <div class="row search">
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Put your key words here">
                            <span class="input-group-addon btn btn-default nav-menu">GO</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <nav class="navbar-right right-link pull-right">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <div class="dropdown-toggle btn" data-toggle="dropdown">
                                        <div class="glyphicon glyphicon-user"></div>Account<div class="caret"></div>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="col-lg-12">
                                            <ul class="col-md-12 nav">
                                                <li><a>fast food&Aacute; </a></li>
                                                <li><a>fast food&Aacute; </a></li>
                                                <li><a>fast food&Aacute; </a></li>
                                                <li><a>fast food&Aacute; </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <div class="dropdown-toggle btn" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-shopping-cart"></span><span>$12.32</span>
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="col-lg-12">
                                            <ul class="col-md-12 nav">
                                                <li><a>fast food&Aacute; </a></li>
                                                <li><a>fast food&Aacute; </a></li>
                                                <li><a>fast food&Aacute; </a></li>
                                                <li><a>fast food&Aacute; </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
                <!-- /.search section -->
                <div class="row col-lg-12">
                    <div class="jumbotron">
                        <h1>Jumbotron heading</h1>
                        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
                    </div>
                    <!--展示框-->
                    <div class="row present">
                        <h4>What's in bazaar today?</h4>
                        <hr />
                        <div class="col-lg-2">
                            <div class="list-group">
                                <a href="#" class="list-group-item active">
                                    New Arrivals
                                </a>
                                <a href="#" class="list-group-item">Staff Picked</a>
                                <a href="#" class="list-group-item">Featrued Items</a>
                                <a href="#" class="list-group-item">Special Offers</a>
                                <a href="#" class="list-group-item">Top Sellers</a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="col-md-3">
                                <div class="tile">
                                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                                    <a class="btn btn-primary btn-block" href="#">Add To Cart</a>
                                    <a href="#">$921.1</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile">
                                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                                    <a href="#">$921.1</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile">
                                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                                    <a href="#">$921.1</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile">
                                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                                    <a href="#">$921.1</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="tile">
                                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                                    <a href="#">$921.1</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--中间推荐模块-->
        </div>
        <div class="row">
            <h5>Our Top Categories</h5>
            <hr />
            <div class="col-md-2">
                <div class="tile">
                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                    <a class="btn btn-primary btn-block" href="#">Add To Cart</a>
                    <a href="#">$921.1</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile">
                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                    <a class="btn btn-primary btn-block" href="#">Add To Cart</a>
                    <a href="#">$921.1</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile">
                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                    <a class="btn btn-primary btn-block" href="#">Add To Cart</a>
                    <a href="#">$921.1</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile">
                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                    <a class="btn btn-primary btn-block" href="#">Add To Cart</a>
                    <a href="#">$921.1</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile">
                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                    <a class="btn btn-primary btn-block" href="#">Add To Cart</a>
                    <a href="#">$921.1</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="tile">
                    <img class="tile-image big-illustration" alt="" src="/images/product1.jpg" data-pinit="registered">
                    <h3 class="tile-title">BeagleBone Black - Embest</h3>
                    <a class="btn btn-primary btn-block" href="#">Add To Cart</a>
                    <a href="#">$921.1</a>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
    </div>
    <!--end of container-->
    <footer class="footer">
        <div class="container" id="footer">
            <div class="row hidden-xs">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4>Products</h4>
                            <ul>
                                <li><a href="/products">Overview</a></li>
                                <li><a href="/products/compute-service">Compute Service</a></li>
                                <li><a href="/products/manta">Manta Storage</a></li>
                                <li><a href="/products/private-cloud">Private Cloud</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h4>Partners</h4>
                            <ul>
                                <li><a href="/partners">Platform</a></li>
                                <li><a href="/partners">Application</a></li>
                                <li><a href="/partners">Data</a></li>
                                <li><a href="/partners">Infrastructure</a></li>
                                <li><a href="/partners">Services</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h4>Technology</h4>
                            <ul>
                                <li><a href="/technology">Overview</a></li>
                                <li><a href="/technology/nodejs">Node.js</a></li>
                                <li><a href="/technology/smartos">SmartOS</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="/company">Overview</a></li>
                                <li><a href="/company/press">Press Room</a></li>
                                <li><a href="/company/events">Events</a></li>
                                <li><a href="/company/management">Management</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <span>Subscribe To Our Newsletter</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/developers/type:Guides">Guides</a></li>
                        <li><a href="/developers/type:Data%20Sheets">Datasheets</a></li>
                        <li><a href="/developers/type:White%20Papers">White Papers</a></li>
                        <li><a href="/developers/type:Videos">Videos</a></li>
                        <li><a href="/developers/type:Presentations">Presentations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--foot bar-->
    <div class="modal fade " id="seeed-login-modal" tabindex="-1" role="dialog" aria-labelledby="seeedLoginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="seeedLoginModalLabel">User Sign In</h4>
                </div>
                <div class="modal-body">
                    <input placeholder="Email Address" class="form-control" name="login-email" />
                    <br />
                    <input placeholder="Password" class="form-control" type="password" name="login-psw" />
                    <span id="login-modal-msg"></span>
                    <input type="checkbox" checked="checked" id="chk_remember" />Remember Me
                    <a class="pull-right" href="#">Forgot Password?</a>
                    <button class="btn btn-success btn-block ">Sign In</button>
                </div>
            </div>
        </div>
    </div>
    <!-- login modal -->
    <div class="modal fade " id="seeed-track-modal" tabindex="-1" role="dialog" aria-labelledby="seeedTrackModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="seeedTrackModalLabel">Track Your Order Number</h4>
                </div>
                <div class="modal-body">
                    <input placeholder="Order Number" class="form-control" name="track-number" />
                    Your Order Number can be found in your order confirmation email.
                    <br />
                    Please Note:!!!!!
                    <br />
                    <a href="#">View Your Order History</a>
                    <a href="#" class="pull-right">Tracking Service FAQ</a>
                    <span id="login-modal-msg"></span>
                    <button class="btn btn-success btn-block ">Track</button>
                </div>
            </div>
        </div>
    </div>
    <!-- track modal -->
    @Scripts.Render("~/bundles/seeed/js")
    <script type="text/javascript">
        var accountManager = (function () {
            function accountManager() {
            }
            accountManager.prototype.login = function (loginid, psw) {
                alert(loginid + psw);
            };
            return accountManager;
        })();
        var instance = new accountManager();
    </script>
</body>
</html>