<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Seeed Classic Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/flat-ui.css" rel="stylesheet">
    <link href="../css/seeed-site.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../jscript/html5shiv.js"></script>
      <script src="../jscript/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.seeedstudio.com">Seeed</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Bazaar</a></li>
                    <li><a href="#">Propogate</a></li>
                    <li><a href="#">Wish</a></li>
                </ul>
                <span class="navbar-form navbar-right right-link">
                    <a href="#">Sign In</a>&nbsp;&nbsp;&nbsp;
                    <a href="#">Track Order</a>
                </span>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <section class=" search">
                <div class="col-lg-2"></div>
            </section>
        </div>
        
        Start doing your next awesomeness here.
    </div>
    <script src="../jscript/jquery-2.0.3.min.js"></script>
    <script src="../jscript/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../jscript/jquery.ui.touch-punch.min.js"></script>
    <script src="../jscript/bootstrap.min.js"></script>
</body>
</html>